openapi: 3.1.0
info:
  title: Quandatics CRM — HTTP API
  version: "1.0"
  description: >
    The CRM's HTTP surface. Most mutations happen through **server actions**
    (see the API Reference page), not REST — these are the route handlers under
    `apps/web/app/api/`. Endpoints below are authenticated + tenant-scoped
    unless noted. The interactive **Test** panel builds and sends real requests;
    live execution against a deployed server requires that server to allow this
    docs origin (CORS) and, for authenticated routes, a valid session cookie.
servers:
  - url: https://app.quandatics.com
    description: Production
  - url: http://localhost:3000
    description: Local dev
paths:
  /api/health:
    get:
      operationId: getHealth
      summary: Health check
      description: >
        Liveness probe. Runs `select 1` against Postgres. Public (no auth).
        Used by the Docker healthcheck and deploy verification.
      tags: [System]
      responses:
        "200":
          description: Healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: ok }
        "503":
          description: Database unreachable
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: degraded }
  /api/tenant-logo:
    get:
      operationId: getTenantLogo
      summary: Active tenant's company logo
      description: >
        Returns the current tenant's uploaded company logo (set in
        Settings → General; rendered on quotation documents). Authenticated +
        tenant-scoped — a member only ever sees their own entity's logo.
      tags: [Files]
      responses:
        "200":
          description: The logo image bytes
          content:
            image/*:
              schema: { type: string, format: binary }
        "403":
          description: No valid session / no active tenant
        "404":
          description: No logo set for this tenant
  /api/files/{id}:
    get:
      operationId: getFile
      summary: Download a stored file
      description: >
        Streams a stored file (e.g. an approval attachment) by id. Authenticated
        and tenant-scoped: the file must belong to the caller's tenant.
      tags: [Files]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
          description: The file record id.
      responses:
        "200":
          description: The file bytes
          content:
            application/octet-stream:
              schema: { type: string, format: binary }
        "403": { description: Not authorized for this file's tenant }
        "404": { description: File not found }
  /api/auth/sign-in/email:
    post:
      operationId: signInEmail
      summary: Sign in with email + password
      description: >
        Better Auth's email/password sign-in
        (`apps/web/app/api/auth/[...all]`, mounted via
        `toNextJsHandler(auth.handler)`). Password login is enabled at the
        framework level, but gated **per tenant**: a `hooks.before` middleware
        checks `tenant_settings.allow_password_login` for every organization
        the account belongs to and rejects with `403 FORBIDDEN` if none of
        them allow it (SSO-only tenants). There is no self-service sign-up —
        `disableSignUp: true` — so this only works for an already-provisioned
        or invited account. Try it with the seeded demo login
        (`admin@demo.local` / `Password123!`) against a local dev server.
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email, example: admin@demo.local }
                password: { type: string, format: password, example: Password123! }
      responses:
        "200":
          description: >
            Signed in — sets the session cookie on the response. Body includes
            the Better Auth session token and the user record.
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: { type: string }
                  user:
                    type: object
                    properties:
                      id: { type: string }
                      email: { type: string, format: email }
                      name: { type: string }
        "401":
          description: Wrong email or password.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string, example: Invalid email or password }
                  code: { type: string, example: INVALID_EMAIL_OR_PASSWORD }
        "403":
          description: >
            Password sign-in is disabled for every organization this account
            belongs to (the tenant is SSO-only — use Microsoft Entra instead).
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Password sign-in is disabled for your organization. Use single sign-on instead.
                  code: { type: string, example: FORBIDDEN }
  /api/auth/sign-out:
    post:
      operationId: signOut
      summary: Sign out
      description: >
        Ends the current session (reads the session cookie, clears it
        server-side). No request body. Safe to call with no active session.
      tags: [Auth]
      responses:
        "200":
          description: Signed out — the session cookie is cleared.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
  /api/auth/get-session:
    get:
      operationId: getSession
      summary: Get the current session
      description: >
        Reads the session cookie and returns the active session + user, or
        `null` if there is no valid session. Useful for confirming
        `sign-in/email` actually set a cookie the browser will send back.
      tags: [Auth]
      responses:
        "200":
          description: The active session and user, or null when unauthenticated.
          content:
            application/json:
              schema:
                type: object
                nullable: true
                properties:
                  session:
                    type: object
                    properties:
                      id: { type: string }
                      userId: { type: string }
                      activeOrganizationId: { type: string, nullable: true }
                      expiresAt: { type: string, format: date-time }
                  user:
                    type: object
                    properties:
                      id: { type: string }
                      email: { type: string, format: email }
                      name: { type: string }
  /api/v1/leads:
    get:
      operationId: listLeads
      summary: List leads
      description: Paginated list of leads visible to the API key's member (ownership/management scope, same as the UI). Requires the `lead.view` permission.
      tags: [REST API v1]
      security: [{ apiKey: [] }]
      parameters:
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/OffsetParam"
      responses:
        "200": { $ref: "#/components/responses/ListResponse" }
        "401": { $ref: "#/components/responses/UnauthorizedResponse" }
        "403": { $ref: "#/components/responses/ForbiddenResponse" }
  /api/v1/leads/{id}:
    get:
      operationId: getLead
      summary: Get a lead
      description: A single lead by id, with resolved stage/funnel/account/person names. Requires `lead.view`.
      tags: [REST API v1]
      security: [{ apiKey: [] }]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200": { $ref: "#/components/responses/ItemResponse" }
        "401": { $ref: "#/components/responses/UnauthorizedResponse" }
        "403": { $ref: "#/components/responses/ForbiddenResponse" }
        "404": { $ref: "#/components/responses/NotFoundResponse" }
  /api/v1/accounts:
    get:
      operationId: listAccounts
      summary: List accounts
      description: >
        Paginated list of accounts visible to the API key's member. Requires
        `account.view`. `parentAccountName` is resolved only from the accounts
        already present on the same page of results, not a full-table lookup
        — a parent that falls on a different page shows `null`.
      tags: [REST API v1]
      security: [{ apiKey: [] }]
      parameters:
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/OffsetParam"
      responses:
        "200": { $ref: "#/components/responses/ListResponse" }
        "401": { $ref: "#/components/responses/UnauthorizedResponse" }
        "403": { $ref: "#/components/responses/ForbiddenResponse" }
  /api/v1/accounts/{id}:
    get:
      operationId: getAccount
      summary: Get an account
      description: A single account by id, with parent/children, contacts, pipelines, and owner name resolved. Requires `account.view`.
      tags: [REST API v1]
      security: [{ apiKey: [] }]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200": { $ref: "#/components/responses/ItemResponse" }
        "401": { $ref: "#/components/responses/UnauthorizedResponse" }
        "403": { $ref: "#/components/responses/ForbiddenResponse" }
        "404": { $ref: "#/components/responses/NotFoundResponse" }
  /api/v1/persons:
    get:
      operationId: listPersons
      summary: List persons (contacts)
      description: Paginated list of contacts visible to the API key's member, each with its account name resolved. Requires `person.view`.
      tags: [REST API v1]
      security: [{ apiKey: [] }]
      parameters:
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/OffsetParam"
      responses:
        "200": { $ref: "#/components/responses/ListResponse" }
        "401": { $ref: "#/components/responses/UnauthorizedResponse" }
        "403": { $ref: "#/components/responses/ForbiddenResponse" }
  /api/v1/persons/{id}:
    get:
      operationId: getPerson
      summary: Get a person (contact)
      description: A single contact by id, with its account, related opportunities, and related projects. Requires `person.view`.
      tags: [REST API v1]
      security: [{ apiKey: [] }]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200": { $ref: "#/components/responses/ItemResponse" }
        "401": { $ref: "#/components/responses/UnauthorizedResponse" }
        "403": { $ref: "#/components/responses/ForbiddenResponse" }
        "404": { $ref: "#/components/responses/NotFoundResponse" }
  /api/v1/opportunities:
    get:
      operationId: listOpportunities
      summary: List opportunities (deal containers)
      description: >
        Paginated list of Opportunity containers — the Salesforce-style parent
        that groups one or more funnels (deals) under an account. Requires
        `opportunity.view`.
      tags: [REST API v1]
      security: [{ apiKey: [] }]
      parameters:
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/OffsetParam"
      responses:
        "200": { $ref: "#/components/responses/ListResponse" }
        "401": { $ref: "#/components/responses/UnauthorizedResponse" }
        "403": { $ref: "#/components/responses/ForbiddenResponse" }
  /api/v1/opportunities/{id}:
    get:
      operationId: getOpportunity
      summary: Get an opportunity (deal container)
      description: A single Opportunity container by id, with its child funnels, quotations, and products rolled up. Requires `opportunity.view`.
      tags: [REST API v1]
      security: [{ apiKey: [] }]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200": { $ref: "#/components/responses/ItemResponse" }
        "401": { $ref: "#/components/responses/UnauthorizedResponse" }
        "403": { $ref: "#/components/responses/ForbiddenResponse" }
        "404": { $ref: "#/components/responses/NotFoundResponse" }
  /api/v1/funnels:
    get:
      operationId: listFunnels
      summary: List funnels (staged deals)
      description: >
        Paginated list of funnels — the individual staged deal rows that live
        under an opportunity container and move through a pipeline's stages.
        Requires `opportunity.view`.
      tags: [REST API v1]
      security: [{ apiKey: [] }]
      parameters:
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/OffsetParam"
      responses:
        "200": { $ref: "#/components/responses/ListResponse" }
        "401": { $ref: "#/components/responses/UnauthorizedResponse" }
        "403": { $ref: "#/components/responses/ForbiddenResponse" }
  /api/v1/funnels/{id}:
    get:
      operationId: getFunnel
      summary: Get a funnel (staged deal)
      description: A single funnel by id, with its stage, quotations, intercompany parties, and stage history. Requires `opportunity.view`.
      tags: [REST API v1]
      security: [{ apiKey: [] }]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200": { $ref: "#/components/responses/ItemResponse" }
        "401": { $ref: "#/components/responses/UnauthorizedResponse" }
        "403": { $ref: "#/components/responses/ForbiddenResponse" }
        "404": { $ref: "#/components/responses/NotFoundResponse" }
  /api/v1/quotations:
    get:
      operationId: listQuotations
      summary: List quotations
      description: Paginated list of quotations visible to the API key's member, with the parent funnel name and line-item count. Requires `quotation.view`.
      tags: [REST API v1]
      security: [{ apiKey: [] }]
      parameters:
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/OffsetParam"
      responses:
        "200": { $ref: "#/components/responses/ListResponse" }
        "401": { $ref: "#/components/responses/UnauthorizedResponse" }
        "403": { $ref: "#/components/responses/ForbiddenResponse" }
  /api/v1/quotations/{id}:
    get:
      operationId: getQuotation
      summary: Get a quotation
      description: A single quotation by id, with its line items and resolved funnel/account/container names. Requires `quotation.view`.
      tags: [REST API v1]
      security: [{ apiKey: [] }]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200": { $ref: "#/components/responses/ItemResponse" }
        "401": { $ref: "#/components/responses/UnauthorizedResponse" }
        "403": { $ref: "#/components/responses/ForbiddenResponse" }
        "404": { $ref: "#/components/responses/NotFoundResponse" }
components:
  securitySchemes:
    apiKey:
      type: http
      scheme: bearer
      description: >
        A tenant API key (`qdk_...`), minted in Settings → API Keys and shown
        exactly once. Send it as `Authorization: Bearer qdk_...`. A key is
        capped to its member's role-granted permissions — it can never do
        more than that member could do in the app, and it is checked against
        the SAME `*_VIEW` permission each resource's UI page requires.
  parameters:
    LimitParam:
      name: limit
      in: query
      required: false
      schema: { type: integer, minimum: 1, maximum: 100, default: 50 }
      description: Max rows to return. Default 50, capped at 100.
    OffsetParam:
      name: offset
      in: query
      required: false
      schema: { type: integer, minimum: 0, default: 0 }
      description: Rows to skip, for paging.
    IdParam:
      name: id
      in: path
      required: true
      schema: { type: string }
      description: The resource's id.
  schemas:
    ApiErrorBody:
      type: object
      properties:
        error:
          type: object
          properties:
            code: { type: string, example: forbidden }
            message: { type: string, example: "Your API key's role lacks permission for this resource" }
    ApiPagination:
      type: object
      properties:
        limit: { type: integer, example: 50 }
        offset: { type: integer, example: 0 }
        total: { type: integer, example: 137 }
    ApiListBody:
      type: object
      properties:
        data:
          type: array
          items: { type: object, additionalProperties: true }
        pagination: { $ref: "#/components/schemas/ApiPagination" }
    ApiItemBody:
      type: object
      properties:
        data: { type: object, additionalProperties: true }
  responses:
    ListResponse:
      description: A page of results.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ApiListBody" }
    ItemResponse:
      description: The requested resource.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ApiItemBody" }
    UnauthorizedResponse:
      description: Missing or invalid API key.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ApiErrorBody" }
    ForbiddenResponse:
      description: The key's role lacks the required `*_VIEW` permission for this resource.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ApiErrorBody" }
    NotFoundResponse:
      description: Unknown resource name, or no matching row (including rows outside the key's ownership/management scope).
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ApiErrorBody" }
tags:
  - name: System
    description: Liveness / ops.
  - name: REST API v1
    description: >
      The read-only REST surface at `/api/v1/*` — 6 resources (leads,
      accounts, persons, opportunities, funnels, quotations), each with a
      paginated list and a detail endpoint. Authenticated with a bearer API
      key (Settings → API Keys), never a session cookie. See the "Using the
      REST API" guide for a walkthrough.
  - name: Files
    description: Authenticated, tenant-scoped file downloads.
  - name: Auth
    description: >
      Better Auth (`apps/web/app/api/auth/[...all]`) — sessions, email/password,
      and Microsoft Entra OAuth. These 3 endpoints are the fine-tunable subset
      exposed here; the full surface also includes OAuth callbacks
      (`/api/auth/oauth2/callback/microsoft-entra-id`) that aren't meaningfully
      testable from a static form. **Public sign-up is disabled** —
      `emailAndPassword.disableSignUp: true` — so there is intentionally no
      `/api/auth/sign-up/email` endpoint documented here.
